<div class="container">
    <div class="row">
       <div >
          <h2 >Catálogo de Roles</h2>
       </div>
    </div>
    <div class="row">
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div >
             <div>
                <button type="button">
                   <span ></span>&nbsp;Leer
                </button>
                <button type="button" >
                   <span ></span>&nbsp;Editar
                </button>
                <button type="button" >
                   <span ></span>&nbsp;Nuevo
                </button>
                <button type="button" >
                   <span ></span>&nbsp;Borrar
                </button>
             </div>
          </div>
       </div>
    </div>
    <div class="row" style="margin-top:15px">
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <table class="table ">
             <thead class="thead-dark">
                <tr>
                   <th>
                   </th>
                   <th scope="col">
                      <span>
                         
                      </span>
                   </th>
                   <th scope="col">
                      <span>
                        
                      </span>
                   </th>
                   <th scope="col">
                      <span>
                         <strong>acceso</strong>
                      </span>
                   </th>
                </tr>
             </thead>
             <tbody>
                <tr >
                   <td>
                      <i class="fa fa-hand-o-right" ></i>
                   </td>
                   <td></td>
                   <td></td>
                   <td></td>
                </tr>
             </tbody>
          </table>
          <div class="col-md-12">
             <div >
                <div>
                   <button type="button" >
                      <span class="fa fa-fast-backward"></span>
                   </button>
                   <button type="button" >
                      <span class="fa fa-step-backward"></span>
                   </button>
                   <span></span>
                   <button type="button" class="btn btn-default" >
                      <span class="fa fa-step-forward"></span>
                   </button>
                   <button type="button" class="btn btn-default" >
                      <span class="fa fa-fast-forward"></span>
                   </button>
                </div>
             </div>
          </div>
       </div>
    </div>
    <ng-template >
       <div >
          <h4 >
             <span >
                Edición de Datos: 
             </span>
             <span >
                Ingreso de Datos:
             </span>
          </h4>
          <button type="button" >
             <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div >
          <form>
          <div >
             <label for="id" >Identificador</label>
             <div class="col-sm-8">
               <input type="text" >
             </div>
          </div>
          <div class="form-group row">
             <label for="descripcion" >descripcion</label>
             <div class="col-sm-8">
               <input type="text">
             </div>
          </div>
          <div class="form-group row">
             <label for="acceso" >acceso</label>
             <div class="col-sm-8">
               <input type="text" >
             </div>
          </div>
          </form>
       </div>
       <div >
          <button type="button" >
             <span ></span>Guardar
          </button>
          <button type="button" >Cerrar</button>
       </div>
    </ng-template>
  </div>
  